/* ------ begin boilerplate ------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }
  
  html, body {
    /* font-size: 62.5%; (62.5/100) * 16px = 10px */
    font-size: clamp(1rem, 2vw + 1rem, 3rem);
    -webkit-text-size-adjust: none; /* for iOS Safari */
    text-size-adjust: none; /* for other mobile browsers */
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  body {
    background-color: #D1D1D1;
  }
  
  p {
    font-family: 'Times New Roman', Times, serif, 'Times New Roman', Times, serif;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  menu:not(article menu),
  ol:not(article ol),
  ul:not(article ul) {
    list-style: none;
  }
  
  menu,
  ol,
  ul {
    padding-left: 0;
  }
  
  article ol,
  article ul {
    list-style-position: inside;
  }
  
  button,
  select,
  [type=radio],
  [type=submit],
  [type=checkbox] {
    cursor: pointer;
  }
  
  body {
    overflow: scroll;
  }
  
  /* ------ end boilerplate ------- */

  /* ------ begin enter page ------ */

  :root {
    --wilpur-orange: #F17500;
    --wilpur-brown: #8B2B00;
    --wilpur-tan: #FFBC46;
    --wilpur-tone: #E69868;
    --wilpur-green: #618A49;
    --scroll-dark: #AD9978;
    --scroll-light: #D5C5A4;
}
  
.main-intro {
    background-image: url("./images/wilpur1_hs.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.enter-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20vh;
}

.icon-door {
    opacity: 0;
    transition: opacity 1s ease-in-out; 
}

.enter-container-block, .enter-container-block-door > p {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: .02em;
    -webkit-text-stroke-color: var(--wilpur-orange);
}

.enter-container-block:hover p {
    color: var(--wilpur-tan);
    cursor: pointer;
}

.enter-container-block-door:hover p {
    color: var(--wilpur-tan);
    cursor: pointer;
}

.enter-container-block-door:hover .icon-door {
    opacity: 1;
}

.icon-door {
    width: 2em;
    height: 2em;
    background-image: url("./images/door.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

/* ------ end enter page ------ */

/* ------ begin about page ------ */

.about-container {
    background-image: url("./images/clouds_background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.main-content {
    margin: 6vh 4vw 6vh 4vw;
    padding: 1em;
    background-color: var(--scroll-light);
    color: var(--wilpur-brown);
}



/* ------ end about page ------ */
