/* ------ begin boilerplate ------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }
  
  html, body {
    font-size: clamp(1rem, 2.5vw + 1rem, 3rem);
    -webkit-text-size-adjust: none; /* for iOS Safari */
    text-size-adjust: none; /* for other mobile browsers */
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  body {
    background-color: #D1D1D1;
  }
  
  p {
    /* font-family: 'Times New Roman', Times, serif, 'Times New Roman', Times, serif; */
    font-family: "Gill Sans", sans-serif;
    font-size: 0.35em;
    position: relative;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  a {
    text-decoration: none;
    z-index: 1;
  }
  
  menu,
  ol,
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  article ol,
  article ul {
    list-style-position: inside;
  }
  
  button,
  select,
  [type=radio],
  [type=submit],
  [type=checkbox] {
    cursor: pointer;
  }
  
  body {
    overflow: scroll;
  }
  
  /* ------ end boilerplate ------- */

:root {
    --wilpur-orange: #F17500;
    --wilpur-brown: #8B2B00;
    --wilpur-tan: #FFBC46;
    --wilpur-tone: #E69868;
    --wilpur-green: #618A49;
    --scroll-dark: #AD9978;
    --scroll-light: #D5C5A4;
}

@font-face {
    font-family: Pixelfy;
    src: url('./assets/PixelifySans-VariableFont_wght.ttf');
}

h1, h2, h3 {
    font-family: Pixelfy;
}

h1 {
    font-size: 1.2;
}

h2 {
    font-size: .8em;
}

h3 {
    font-size: 0.4em;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--wilpur-brown);
    position: relative;
    display: inline-block;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: .2rem;
    background-color: var(--wilpur-tan);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.1s ease-out;
    z-index: -1;
}

a:active {
    color: var(--wilpur-green)
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.italics {
    font-style: italic;
}

.italics > a {
    font-style: italic;
    font-weight: normal;
}

  /* ------ begin enter page ------ */
  
.main-intro {
    background-image: url("./images/wilpur1_hs.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.enter-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20vh;
}

.icon-door {
    opacity: 0;
    transition: opacity 1s ease-in-out; 
}

.enter-container-block > p, .enter-container-block-door > p {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: .02em;
    -webkit-text-stroke-color: var(--wilpur-orange);
    font-size: 1em;
}

.enter-container-block:hover p {
    color: var(--wilpur-tan);
    cursor: pointer;
}

.enter-container-block-door:hover p {
    color: var(--wilpur-tan);
    cursor: pointer;
}

.enter-container-block-door:hover .icon-door {
    opacity: 1;
}

.icon-door {
    width: 2em;
    height: 2em;
    background-image: url("./images/door.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

/* ------ end enter page ------ */

/* ------ begin projects page ------ */

.main-container {
    background-image: url("./images/clouds_background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.main-content-container {
    margin: 1rem 1rem 1rem .83rem;
    padding: 0.5rem 1rem;
    background-color: var(--scroll-light);
    color: var(--wilpur-brown);
    overflow: auto;
    display: flex;
    flex-direction: column;
    box-shadow: .17rem .2rem var(--scroll-dark);
    border: 2px solid var(--scroll-dark)
}

.main-main > p {
    margin-bottom: .32rem
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--scroll-dark);
    padding-bottom: 0.3rem;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left h2 {
    margin-left: .4rem
}

.header-right {
    display: flex;
}

.nav-link.active {
    color: var(--wilpur-green)
}

.header-right h3 {
    border-right: 2px solid var(--scroll-dark);
    padding-right: .22rem;
    margin-right: .22rem
}

/* the only mobile adjustments we seem to need to make is to the header */
@media only screen and (max-width: 768px) {
    .header-left h2 {
        font-size: 0.67em
    }
    /* kinda hacky but the only place we're using h3 is in the right header and we need to fix that for mobile */
    h3 {
        font-size: 0.37em;
    }
}

.header-right h3:last-child {
    border-right: none;
    margin-left: none;
    margin-right: 0;
}


.header-left img {
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50px;
}

.main-main {
    margin-top: .24rem;
}

.main-main a {
    font-size: .87em;
}

.topic-container {
    margin-top: .22rem;
    margin-bottom: .22rem;
    padding-bottom: .22rem;
    border-bottom: 2px solid var(--scroll-dark);
    width: fit-content;
}

.topics .topic-container:last-child {
    border-bottom: none
}

.topic-top {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.topic-top h2 {
    font-size: .55em;
    margin-right: .4rem;
}

.topic-selector {
    height: 1rem;
    width: 1rem;
    background-image: url('./images/torch_unlit.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.topic-items {
    overflow: hidden;
    max-height: 0px;
    max-width: 30vw;
    opacity: 0;
    transition: max-height 0.5s ease-out, max-width 0.5s ease-out;
}

.topic-items.show {
    max-height: 100vh;
    max-width: 100%;
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}

.project-info-container {
    display: flex;
    justify-content: center;
    padding-bottom: .22rem;
}

.project-info-container > * {
    margin-top: .22rem;
    margin-bottom: .22rem;
}

.project-info-left {
    flex: 6;
    padding-right: .22rem;
    border-right: 2px solid var(--scroll-dark)
}

.project-info-left p {
    font-size: 0.27em;
}

.project-info-left > * {
    margin-top: .17rem;
}

.project-image {
    width: 7rem;
    color: var(--wilpur-brown);
    border: 2px solid var(--wilpur-brown);
    border-radius: 7px;
}

.project-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.project-header:hover {
    cursor: pointer;
}

.project-header:hover h3 {
    color: var(--wilpur-orange);
}

.project-header:hover .project-link {
    filter: invert(70%) sepia(62%) saturate(6985%) hue-rotate(8deg) brightness(102%) contrast(101%);
}

.project-link {
    margin-left: .07em;
    width: .4rem;
    filter: invert(12%) sepia(85%) saturate(4633%) hue-rotate(35deg) brightness(100%) contrast(102%);
}

.project-info-right {
    flex: 4;
    margin-left: .27rem;
    padding-left: .22rem;
}

.project-info-right p {
    font-size: 0.27em;
}

.list-styled {
    padding-left: .22rem;
}

.list-styled li {
    margin-top: .32rem;
    margin-bottom: .32rem
}

.main-footer {
    padding-top: 0.22rem;
    border-top: 2px solid var(--scroll-dark)
}

.main-footer p {
    font-size: .4rem;
}

/* ------ end home page ------ */

/* ----- begin about page ----- */

/* stole this from our projects page */
.about-topic {
    display: flex;
    flex-direction: column;
}

.about-topic h2 {
    font-size: .55em;
    margin-right: .4rem;
}

.about-topic > p {
    margin-bottom: .32rem
}

.about-topic h2 {
    margin-bottom: .16rem
}

.about-contact {
    display: flex;
    align-items: center;
}

.about-contact > * {
    position: relative;
    margin-right: .3em;
    margin-bottom: .32rem;
}

.contact-link {
    width: 2rem;
    cursor: pointer;
    filter: invert(12%) sepia(85%) saturate(4633%) hue-rotate(35deg) brightness(100%) contrast(102%);
}

.contact-link:hover {
    filter: invert(70%) sepia(62%) saturate(6985%) hue-rotate(8deg) brightness(102%) contrast(101%);
}

.email-container {
    position: relative;
}

.email-popup {
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--scroll-dark);
    color: var(--wilpur-brown);
    padding: 10px 20px;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.email-popup.show {
    opacity: 1;
}

.email-popup.hidden {
    display: hidden;
}