/* ------ begin boilerplate ------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }
  
  html, body {
    font-size: clamp(1rem, 2vw + 1rem, 2.7rem);
    -webkit-text-size-adjust: none; /* for iOS Safari */
    text-size-adjust: none; /* for other mobile browsers */
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  body {
    background-color: #D1D1D1;
  }
  
  p {
    /* font-family: 'Times New Roman', Times, serif, 'Times New Roman', Times, serif; */
    font-family: "Gill Sans", sans-serif;
    font-size: 0.35em;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  menu,
  ol,
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  article ol,
  article ul {
    list-style-position: inside;
  }
  
  button,
  select,
  [type=radio],
  [type=submit],
  [type=checkbox] {
    cursor: pointer;
  }
  
  body {
    overflow: scroll;
  }
  
  /* ------ end boilerplate ------- */

:root {
    --wilpur-orange: #F17500;
    --wilpur-brown: #8B2B00;
    --wilpur-tan: #FFBC46;
    --wilpur-tone: #E69868;
    --wilpur-green: #618A49;
    --scroll-dark: #AD9978;
    --scroll-light: #D5C5A4;
}

@font-face {
    font-family: Pixelfy;
    src: url('./assets/PixelifySans-VariableFont_wght.ttf');
}

h1, h2, h3 {
    font-family: Pixelfy;
}

h1 {
    font-size: 1.2;
}

h2 {
    font-size: .8em;
}

h3 {
    font-size: 0.4em;
}

  /* ------ begin enter page ------ */
  
.main-intro {
    background-image: url("./images/wilpur1_hs.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.enter-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20vh;
}

.icon-door {
    opacity: 0;
    transition: opacity 1s ease-in-out; 
}

.enter-container-block > p, .enter-container-block-door > p {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: .02em;
    -webkit-text-stroke-color: var(--wilpur-orange);
    font-size: 1em;
}

.enter-container-block:hover p {
    color: var(--wilpur-tan);
    cursor: pointer;
}

.enter-container-block-door:hover p {
    color: var(--wilpur-tan);
    cursor: pointer;
}

.enter-container-block-door:hover .icon-door {
    opacity: 1;
}

.icon-door {
    width: 2em;
    height: 2em;
    background-image: url("./images/door.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

/* ------ end enter page ------ */

/* ------ begin projects page ------ */

.main-container {
    background-image: url("./images/clouds_background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.main-content-container {
    margin: 6vh 4vw 6vh 4vw;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: var(--scroll-light);
    color: var(--wilpur-brown);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--scroll-dark);
    padding-bottom: 0.3rem;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left h2 {
    margin-left: .4rem
}

.header-right {
    display: flex;
}

.header-right h3 {
    border-right: 2px solid var(--scroll-dark);
    padding-right: .12rem;
    margin-right: .12rem
}

.header-right h3:last-child {
    border-right: none;
    margin-left: none;
    margin-right: 0;
}


.header-left img {
    /* background-image: url("./images/wilpur1_hs.png"); */
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50px;
}

.main-main {
    margin-top: .24rem;
}

.topic-container {
    margin-top: .22rem;
    margin-bottom: .22rem;
    padding-bottom: .22rem;
    border-bottom: 2px solid var(--scroll-dark);
    width: fit-content;
}

.topics .topic-container:last-child {
    border-bottom: none
}

.topic-top {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.topic-top h2 {
    font-size: .55em;
    margin-right: .4rem;
}

.topic-selector {
    height: 1rem;
    width: 1rem;
    background-image: url('./images/torch_unlit.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.topic-items {
    overflow: hidden;
    max-height: 0px;
    max-width: 30vw;
    opacity: 0;
    transition: max-height 0.5s ease-out, max-width 0.5s ease-out;
}

.topic-items.show {
    max-height: 100vh;
    max-width: 100%;
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}

.project-info-container {
    display: flex;
    justify-content: center;
    padding-bottom: .22rem;
}

.project-info-container > * {
    margin-top: .22rem;
    margin-bottom: .22rem;
}

.project-info-left {
    flex: 6;
    padding-right: .22rem;
    border-right: 2px solid var(--scroll-dark)
}

.project-info-left p {
    font-size: 0.27em;
}

.project-info-left > * {
    margin-top: .17rem;
}

.project-image {
    width: 7rem;
}

.project-info-right {
    flex: 4;
    margin-left: .27rem;
    padding-left: .22rem;
}

.project-info-right p {
    font-size: 0.32em;
}

.list-styled {
    padding-left: .22rem;
}

.list-styled li {
    margin-top: .07rem;
    margin-bottom: .07rem
}


.main-footer {
    margin-top: 0.1rem;
    padding-top: 0.1rem;
    border-top: 2px solid var(--scroll-dark)
}

.main-footer p {
    font-size: .4rem;
}

/* ------ end home page ------ */
